.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.selLang {
  /* background-color: transparent; */
  color: black;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px 12px;
  position: absolute;
  background-color: whitesmoke;
  top: 0;
  transform: translate(0, 95%);
  border-radius: 8px;
  text-decoration-style: unset;
  list-style: unset;
  font-family: "Poppins", sans-serif;
  font-size: small;
  box-shadow: white 0 0 5px 5px;
}
.language-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.lan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.red-border {
  border: red solid 1px;
}
